<div class="page-header">
  <%= link_to new_menu_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-upload"></span>
    Upload CSV
  <% end %>

  <h1>Listing All Menus</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
        <th><%= sortable "name" %></th>
        <th><%= sortable "sponsor" %></th>
        <th><%= sortable "event" %></th>
        <th><%= sortable "venue" %></th>
        <th>Place</th>
        <th>Description</th>
        <th>Occasion</th>
        <th>Notes</th>
        <th>Call#</th>
        <th>Keywords</th>
        <th>Language</th>
        <th><%= sortable "date" %></th>
        <th>Location</th>
        <th>Currency</th>
        <th>Status</th>
        <th>Page#</th>
        <th>Dish#</th>
      </tr>
    </thead>
    <tbody>
    	<% @menus.each do |menu| %>
	    	<tr>
	        <td><%= menu.name %></td>
	        <td><%= menu.sponsor %></td>
	        <td><%= link_to menu.event, menu_path(menu) %></td>
	        <td><%= link_to menu.venue, menu_path(menu) %></td>
	        <td><%= menu.place %></td>
	        <td><%= menu.physical_description %></td>
	        <td><%= menu.occasion %></td>
	        <td><%= menu.notes %></td>
          <td><%= menu.call_number %></td>
          <td><%= menu.keywords %></td>
          <td><%= menu.language %></td>
          <td><%= menu.date %></td>
          <td><%= menu.location %> (<%= menu.location_type %>)</td>
          <td><%= menu.currency %> (<%= menu.currency_symbol%>)</td>
          <td><%= menu.status %></td>
          <td><%= menu.page_count %></td>
          <td><%= menu.dish_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="pull-right">
  <%= will_paginate @menus, renderer: BootstrapPagination::Rails %>
</div>