<div class="page-header">
  <%= link_to menus_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-list"></span>
    Menu List
  <% end %>

  <h1>Menu Info</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
        <th>Name</th>
        <th>Sponsor</th>
        <th>Event</th>
        <th>Venue</th>
        <th>Place</th>
        <th>Description</th>
        <th>Occasion</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
    	<tr>
        <td><%= @menu.name %></td>
        <td><%= @menu.sponsor %></td>
        <td><%= @menu.event %></td>
        <td><%= @menu.venue %></td>
        <td><%= @menu.place %></td>
        <td><%= @menu.physical_description %></td>
        <td><%= @menu.occasion %></td>
        <td><%= @menu.notes %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
        <th>Call#</th>
        <th>Keywords</th>
        <th>Language</th>
        <th>Date</th>
        <th>Location</th>
        <th>Currency</th>
        <th>Status</th>
        <th>Page#</th>
        <th>Dish#</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @menu.call_number %></td>
        <td><%= @menu.keywords %></td>
        <td><%= @menu.language %></td>
        <td><%= @menu.date %></td>
        <td><%= @menu.location %> (<%= @menu.location_type %>)</td>
        <td><%= @menu.currency %> (<%= @menu.currency_symbol%>)</td>
        <td><%= @menu.status %></td>
        <td><%= @menu.page_count %></td>
        <td><%= @menu.dish_count %></td>
      </tr>
    </tbody>
  </table>
</div>