<div class="page-header">
  <%= link_to new_menu_item_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-upload"></span>
    Upload CSV
  <% end %>

  <h1>Listing All Menu Items</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= sortable "menu_page_id" %></th>
        <th><%= sortable "price" %></th>
        <th><%= sortable "high_price" %></th>
        <th><%= sortable "dish_id" %></th>
        <th>xpos</th>
        <th>ypos</th>
      </tr>
    </thead>
    <tbody>
    	<% @menu_items.each do |item| %>
	    	<tr>
	        <td><%= item.menu_page.try(:page_number) %></td>
	        <td><%= number_to_currency(item.price) %></td>
	        <td><%= number_to_currency(item.high_price) %></td>
	        <td><%= item.dish.try(:name) %></td>
	        <td><%= item.xpos %></td>
	        <td><%= item.ypos %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="pull-right">
  <%= will_paginate @menu_items, renderer: BootstrapPagination::Rails %>
</div>