<%= form_tag upload_path, multipart: true do %>
	<div class='form-group'>
  	<label>Select your CSV file to upload.</label>
	  <%= file_field_tag :file, required: true, accept: ".csv", class: 'form-control' %>
	  <br>
	  <%= submit_tag 'Import CSV', class: 'btn btn-primary', data: {disable_with: 'Please wait while uploading...'} %>
	</div>
<% end %>