<div class="page-header">
  <%= link_to new_dish_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-upload"></span>
    Upload CSV
  <% end %>

  <h1>Listing All Dishes</h1>
</div>
<div class="text-right">
  <%= form_tag dishes_path, class: "form-inline", method: :get do %>
    <div class="form-group mx-sm-3">
      <%= search_field_tag :keyword, params[:keyword], class: 'form-control', placeholder: 'Enter Keywords' %>
    </div>
    <%= submit_tag "Search-Now", class: 'btn btn-danger' %>
  <% end %>
</div>

<br>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= sortable "name" %></th>
        <th><%= sortable "discription" %></th>
        <th><%= sortable "menus_appeared" %></th>
        <th><%= sortable "times_appeared" %></th>
        <th><%= sortable "first_appeared" %></th>
        <th><%= sortable "last_appeared" %></th>
        <th><%= sortable "lowest_price" %></th>
        <th><%= sortable "high_price" %></th>
      </tr>
    </thead>
    <tbody>
    	<% @dishes.each do |dish| %>
	    	<tr>
	        <td style="width: 200px;"><%= dish.name %></td>
	        <td><%= dish.description %></td>
	        <td><%= dish.menus_appeared %></td>
	        <td><%= dish.times_appeared %></td>
	        <td><%= dish.first_appeared %></td>
	        <td><%= dish.last_appeared %></td>
	        <td><%= number_to_currency(dish.lowest_price) %></td>
	        <td><%= number_to_currency(dish.highest_price) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="pull-right">
  <%= will_paginate @dishes, renderer: BootstrapPagination::Rails %>
</div>