<div class="page-header">
  <%= link_to new_menu_page_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-upload"></span>
    Upload CSV
  <% end %>

  <h1>Listing All Menu-Pages</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= sortable "menu_id" %></th>
        <th><%= sortable "page_number" %></th>
        <th>Image ID</th>
        <th><%= sortable "full_height" %></th>
        <th><%= sortable "full_width" %></th>
        <th>UUID</th>
      </tr>
    </thead>
    <tbody>
    	<% @menu_pages.each do |page| %>
	    	<tr>
	        <td><%= page.menu.try(:name) %></td>
	        <td><%= page.page_number %></td>
	        <td><%= page.image_id %></td>
	        <td><%= page.full_height %></td>
	        <td><%= page.full_width %></td>
	        <td><%= page.uuid %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="pull-right">
  <%= will_paginate @menu_pages, renderer: BootstrapPagination::Rails %>
</div>