<div class="page-header">
  <h1>Generate JSON Report</h1>
</div>

<%= form_tag download_report_path do %>
	<div class="form-group">
  	<label>Filter by place:</label>
	  <%= select_tag 'place', 
	  	options_for_select(Menu.all.collect { |menu| [menu.place, menu.place] }.uniq),
	  	prompt: 'Select Place', class: 'form-control'
	  %>
	  <br>

	  <label>Select Date From:</label>
	  <%= date_select('date_from', nil, selected: {year: 1900, month: 01, day: 01}, start_year: 1900) %>
	  <br>
	  <label>Select Date To:</label>
	  <%= date_select('date_to', nil, start_year: 1900) %>
	  
	  <br><br>
	  <%= submit_tag 'Export JSON', class: 'btn btn-primary', data: {'disable-with' => 'Now henerating JSON report...'} %>
	</div>
<% end %>

<%= content_for :custom_scripts do %>
	<script type="text/javascript">
		$(function(){
			$('form').on('submit', function(){
				setTimeout(function(){
					$(':submit')
						.val('Export JSON')
						.removeAttr('disabled');
				}, 1000);
			});
		});
	</script>
<% end %>